.slideshow {
    grid-column: 1 / -1;
    grid-row: 2 / 3;

    position: relative;
    width: 100%;
    height: 80vh;

    @include response(xl) {
        height: 70vh;
    }

    @include response(lg) {
       height: 60vh;
    }

    @include response(md) {
       height: 50vh;
    }

    &-slide {
        height: inherit;
        width: inherit;
        top: 0;
        left: 0;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        animation: slideshow 20s linear infinite;
    }

    img {
        height: inherit;
        width: inherit;
        object-fit: cover;
    }

    &-content {
        position: absolute;
        bottom: 6rem;
        left: 6rem;
        right: 6rem;
        max-width: 50rem;
        padding: 4rem;
        background-color: rgba(color(tertiary), 0.9);

        @include response(lg) {
            padding: 2rem;
        }

        @include response(sm) {
            padding: 1rem;
        }

        h2 {
            font-size: size(xl) + 1.2rem;
            color: color(primary);

            @include response(sm) {
                font-size: size(xl);
            }

        }

        p {
            margin: 1rem 0;
            font-size: size(sm);

            @include response(sm) {
                font-size: 1.3rem;
            }
        }
    }
}